pyspark==3.1.2
pandas==1.4.2
numpy==1.22.3
joblib==1.1.0
scikit-learn==1.1.2
torch==1.12.1
dagster==0.7.6
s3fs==0.4.2
pyarrow==5.0.0
Flask==2.2.2
xgboost==1.6.2
pytest==5.3.5
skater==1.0.4
mlflow==1.8.0
boto3==1.9.253
requests==2.22.0
psycopg2==2.8.4
minio==5.0.7
botocore==1.12.253
dill==0.3.3