env
!**/__pycache__/
hyperd.log
*.hyper
*.pyc
jupyterhub/data/jupyterhub-proxy.pid
helpers/front/nginx/nginx/logs
rest/settings.py
**/fixtures/
**/migrations/
./db.sqlite3

# Editor directories and files
.idea
.vscode